h1 {
    color: darkgreen;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 44px;

}

p, li, div, a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 25px;

}

a:link {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.upp {
    text-transform: uppercase;
}

img {
    float: left;
    max-width: 30%;
    padding: 50px;
}